configuration {
	modi: "drun,window,run";
	terminal: "alacritty";
    matching: "fuzzy";

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;

	filebrowser {
		directories-first: true;
		sorting-method:    "name";
	}
}

// @theme "/usr/share/rofi/themes/Monokai.rasi"
@theme "./nord.rasi"
* { border-color: @lightfg; }

listview {
    columns: 2;
}
