configuration {
	modi: "drun,run,window";
	terminal: "alacritty";
    matching: "fuzzy";

	filebrowser {
		directories-first: true;
		sorting-method:    "name";
	}
}

@theme "/usr/share/rofi/themes/Monokai.rasi"
* { border-color: @lightfg; }
