snippet sout
System.out.println(${0});
endsnippet

snippet serr
System.err.println(${0});
endsnippet

snippet print
System.out.print("${0:Message}");
endsnippet

snippet printf
System.out.printf("${1:Message}", ${0:args});
endsnippet

snippet println
System.out.println(${0});
endsnippet

snippet printlna
System.out.println(Arrays.toString(${0}));
endsnippet


snippet ext
extends ${0}
endsnippet

snippet imp
implements ${0}
endsnippet
