snippet t "TOP"
\Top{${1:${VISUAL:TOP name}}}{}
$0
endsnippet

snippet st "sub TOP"
\STop{${1:${VISUAL:TOP name}}}{%
	$0
}
endsnippet

snippet sst "sub sub TOP"
\SSTop{${1:${VISUAL:sub sub TOP name}}}{%
	$0
}
endsnippet

snippet it "itemize"
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet i "\item"
\item
endsnippet
