snippet "\\?lim" "Limes" r
\lim_{${1:n} \to ${2:\infty}} $0
endsnippet

snippet "\\?sum" "Summe" r
\sum_{${1:k}=${2:0}}^{${3:\infty}} $0
endsnippet

snippet "\\?int" "Integral" r
\int[${1:0}][${2:1}] ${3:f(x)} d${4:x}$0
endsnippet

snippet "\\?intu" "Unbestimmtes Integral" r
\int ${1:f(x)} d${2:x}$0
endsnippet

snippet fol "Folge"
(${1:x}_${2:n})_{$2 \in ${3:\N}}$0
endsnippet

snippet conv "Folge"
--(${1:x} \to ${2:\infty})-->$0
endsnippet

